
  <%- include('../partials/header') %>

  <!--This is likely NECESSARY to be on every page to get roomId updated properly for sockets-->
  <!--<script src="/dist/main.bundle.js"></script>-->
  <!-- (When we're ready to add roomId stuff, refer to the script tag that assigns roomId)-->



  <body>
    <h1><%= title %></h1>
    <p>This is TEST 1!</p>
    <%- include('../partials/chat') %>
  </body>
  <!--script src="/js/main.js"></script-->
  

  <%- include('../partials/footer') %>
