<html>
  <%- include('../partials/header') %>

  <body>
    <h1><%= title %></h1>
    <p>This is TEST 1!</p>
    <%- include('../partials/chat') %>
  </body>
  <!--script src="/js/main.js"></script-->

  <%- include('../partials/footer') %>
</html>