<template id="chat-message-template">
  <li>
    <span></span>
  </li>
</template>

<!--Some chat code copied/modified from jrob's repo; see recording Dec. 9, 06:41-->

<aside id="chat-section">
  <ul
    id="messages"
  ></ul>
  <form method="post">
    <input
      id="chat-message"
      autocomplete="off"
      placeholder="Type your message here"
    /><button>
      Send
    </button>
  </form>
</aside>
<script src="/dist/chat.bundle.js"></script>